{% if include.role %}
  {% assign authors = site.authors | where: "role", include.role %}
{% else %}
 {% assign authors = site.authors | where: "role", empty %}
{% endif %}

{% assign names = authors | map: "display_name" | sort %}

<div class="row row-cols-1 row-cols-md-3 g-4 font-sans">
  {% for name in names %}
    {% assign author = site.authors | where: "display_name", name | first %}
    {% unless author.hide %}
      <div class="col">
        <a 
          class="link-body-emphasis link-offset-2-hover link-underline link-underline-opacity-0 link-underline-opacity-100-hover d-flex" 
          href="/authors/{{ author.username }}">
          <div class="d-inline-flex align-items-center">
            {% include profile_pic.html author=author size=36 %}
            <span class="ps-2 fs-4">{{ author.display_name }}</span>
          </div>
        </a>
      </div>
    {% endunless %}
  {% endfor %}
</div>
