{% assign gh_user = include.author.github %}
{% assign local_file = site.static_files | where: "profile_image", true | where: "basename", include.author.username | first %}


{% if local_file %}

{% capture src %}
{{ local_file.path }}
{% endcapture %}

{% elsif gh_user %}

{% capture src %}
https://github.com/{{ gh_user }}.png?size={{ include.size }}
{% endcapture %}

{% else %}

{% assign hash = include.author.username | MD5 %}
{% capture src %}
https://www.gravatar.com/avatar/{{ hash }}.jpg?s={{ include.size }}&d=identicon
{% endcapture %}

{% endif %}

<img 
  src="{{ src }}" 
  class="rounded-circle"
  width="{{ include.size }}" />