{% if include.publications.size > 0 %}
  <h1 id="publications"><i class="fa-regular fa-newspaper fa-sm"></i> Publications</h1>

  {% if include.group %}
    {% assign years = include.publications | map: 'year' | uniq | sort | reverse %}
    {% for y in years %}
      {% assign pubsy = include.publications | where: 'year', y | sort: 'date' %}
  <h4>{{y}}</h4>
  <ol class="font-sans">
    {% for pub in pubsy %}
      {% assign n = pub.authors | split: ',' | first | strip %}
      <li class="mt-3">
        {% if pub.status == 'inprep' %}
          <span class="badge text-bg-secondary me-1">in prep.</span>
        {% elsif pub.status == 'submitted' %}
          <span class="badge text-bg-primary me-1">submitted</span>
        {% elsif pub.status == 'accepted' %}
          <span class="badge text-bg-success me-1">accepted</span>
        {% endif %}
        <a 
          class="link-offset-2-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
          href="{{ pub.url }}">{{ n }} et al. {{ pub.title }}</a>
      </li>
    {% endfor %}
  </ol>
    {% endfor %}
  {% else %}
  <ol class="font-sans">
    {% for pub in include.publications %}
      {% assign n = pub.authors | split: ',' | first | strip %}
      <li class="mt-3">
        {% if pub.year %}<span class="badge text-bg-primary me-1">{{ pub.year | jsonify }}</span>{% endif %}
        
        <a 
          class="link-offset-2-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
          href="{{ pub.url }}">{{ n }} et al. {{ pub.title }}</a>
        
        {% if pub.status == 'inprep' %}
          <span class="badge text-bg-secondary rounded-pill ms-1">in prep.</span>
        {% elsif pub.status == 'submitted' %}
          <span class="badge text-bg-primary rounded-pill ms-1">submitted</span>
        {% elsif pub.status == 'accepted' %}
          <span class="badge text-bg-success rounded-pill ms-1">accepted</span>
        {% endif %}
      </li>
    {% endfor %}
  </ol>
  {% endif %}
{% endif %}