{% if include.publications.size > 0 %}
  <h1 id="publications">Publications</h1>
  
  <ol class="font-sans">
    {% for pub in include.publications %}
      {% assign n = pub.authors | split: ',' | first | strip %}
      <li class="mt-2">
        {% if pub.year %}<span class="badge text-bg-primary me-1">{{ pub.year | jsonify }}</span>{% endif %}
        
        <a 
          class="link-offset-2-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
          href="{{ pub.url }}">{{ n }} et al. {{ pub.title }}</a>
        
        {% if pub.status == 'inprep' %}
          <span class="badge text-bg-secondary rounded-pill ms-1">in prep.</span>
        {% elsif pub.status == 'submited' %}
          <span class="badge text-bg-success rounded-pill ms-1">submited</span>
        {% endif %}
      </li>
    {% endfor %}
  </ol>
{% endif %}