---
layout: default
---

<header class="masthead text-white text-shadow inner-shadow"
  style="padding-top: 5rem; padding-bottom: 5rem; background-image: url('/assets/img/authors_header_bg.jpg');">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-xl-9">
        <div class="d-flex align-items-center">
          <div class="">
            {% include profile_pic.html author=page size=150 %}
          </div>
          <div class="pt-5 pt-lg-0 ms-4 text-lg-left ">
            <span 
              class="w-600 text-uppercase text-light"
              style="font-size: 2rem; letter-spacing: .15rem;">
              {{ page.display_name }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container pt-3 pb-5">
  {% assign striped_content = page.content | strip | strip_html | strip_newlines %}
  {% unless striped_content == empty %}
  <div class="py-3">
    <h4 class="mt-3 mb-3">Bio</h4>
    {{ content }}
  </div>
  {% endunless %}


  <h3>Personal Information</h3>
  <hr />

  {% if page.affiliation %}
    <div class="mt-2">
      <i class="fa-solid fa-building-columns"></i> <b>Affiliation:</b> {{ page.affiliation }}
    </div>
  {% endif %}

  {% if page.affiliations %}
    {% for affiliation in page.affiliations %}
      <div class="mt-2">
        <i class="fa-solid fa-building-columns"></i> <b>Affiliation {{ forloop.index }}:</b> {{ affiliation }}
      </div>
    {% endfor %}
  {% endif %}

  {% if page.orcid %}
  <div class="mt-2">
    <i class="fa-brands fa-orcid"></i> <b>Orcid:</b> {{ page.orcid }}
    <a href="https://orcid.org/{{ page.orcid }}" target="_blank" class="ms-1">
      <i class="fa-solid fa-arrow-up-right-from-square fa-sm"></i>
    </a> 
  </div>
  {% endif %}

  {% if page.scholar %}
  <div class="mt-2">
    <i class="fa-brands fa-google-scholar"></i> <b>Google Scholar:</b> {{ page.display_name }}
    <a href="https://scholar.google.com/citations?hl=en&user={{ page.scholar }}" target="_blank" class="ms-1">
      <i class="fa-solid fa-arrow-up-right-from-square fa-sm"></i>
    </a> 
  </div>
  {% endif %}

  {% if page.lattes %}
  <div class="mt-2">
    <i class="fa-solid fa-user"></i> <b>Lattes:</b> {{ page.lattes }}
    <a href="https://lattes.cnpq.br/{{ page.lattes }}" target="_blank" class="ms-1">
      <i class="fa-solid fa-arrow-up-right-from-square fa-sm"></i>
    </a> 
  </div>
  {% endif %}

  {% if page.researcherid %}
  <div class="mt-2">
    <i class="fa-solid fa-user"></i> <b>ResearcherID:</b> {{ page.researcherid }}
    <a href="https://www.webofscience.com/wos/author/record/{{ page.researcherid }}" target="_blank" class="ms-1">
      <i class="fa-solid fa-arrow-up-right-from-square fa-sm"></i>
    </a> 
  </div>
  {% endif %}

  {% if page.github %}
  <div class="mt-2">
    <i class="fa-brands fa-github"></i> <b>Github:</b> {{ page.github }}
    <a href="https://github.com/{{ page.github }}" target="_blank" class="ms-1">
      <i class="fa-solid fa-arrow-up-right-from-square fa-sm"></i>
    </a>
  </div>
  {% endif %}

  {% if page.site %}
  <div class="mt-2">
    <i class="fa-solid fa-globe"></i> <b>Website:</b> {{ page.site }}
    <a href="https://{{ page.site }}" target="_blank" class="ms-1">
      <i class="fa-solid fa-arrow-up-right-from-square fa-sm"></i>
    </a> 
  </div>
  {% endif %}

  {% if page.email %}
  <div class="mt-2">
    <i class="fa-regular fa-envelope"></i> <b>E-mail:</b> {{ page.email }}
  </div>
  {% endif %}




  {% assign filtered_publications = page.publications %}
  {% if filtered_publications == nil %}
    {% assign filtered_publications = '' | split: '' %}
  {% endif %}

  {% if filtered_publications.size > 0 %}
  <h3 class="mt-5">Publications</h3>
  <hr />

  <ol>
    {% for publication in filtered_publications %}
      <li class="mt-2">
        <a href="{{ publication.url }}">
          {{ publication.title }}
        </a>
      </li>
    {% endfor %}
  </ol>
  {% endif %}



</div>
