---
layout: default
---

{% assign title = page.shorttitle | default: page.title %}
{% assign striped_content = page.content | strip | strip_html | strip_newlines %}

{% include header.html image="/assets/img/authors_header_bg.jpg" title=title %}

<div class="container pt-3 pb-5 page-content font-serif">
  {% if page.status == "inprep" %}
    {% include alert.html text="This paper is in preparation." %}
  {% endif %}

  {% if page.status == "submited" %}
    {% include alert.html text="This paper has been submited to the journal." %}
  {% endif %}


  <h1>Publication info</h1>
  {% if page.title %}
    <div>
      <b>Title: </b> {{ page.title }}
    </div>
  {% endif %}
  
  {% if page.authors %}
    <div class="mt-3">
      <b>Authors: </b> {{ page.authors }}
    </div>
  {% endif %}

  {% if page.year %}
    <div class="mt-3">
      <b>Publication date: </b> {{ page.year }}
    </div>
  {% endif %}

  {% if page.journal %}
    <div class="mt-3">
      <b>Journal: </b> {{ page.journal }}
    </div>
  {% endif %}

  {% if page.preprint or page.doi or page.ads %}
  <div class="mt-3">
    <b>Access: </b> 
    {% if page.doi %}
      <a href="https://doi.org/{{ page.doi }}" class="me-3">Publisher<i class="fa-solid fa-arrow-up-right-from-square fa-sm ms-1"></i></a>
    {% endif %}

    {% if page.preprint %}
      <a href="{{ page.preprint }}" class="me-3">Preprint<i class="fa-solid fa-arrow-up-right-from-square fa-sm ms-1"></i></a>
    {% endif %}

    {% if page.ads %}
      <a href="{{ page.ads }}" class="me-3">ADS<i class="fa-solid fa-arrow-up-right-from-square fa-sm ms-1"></i></a>
    {% endif %}
  </div>
  {% endif %}




  
  {% if page.abstract %}
    <h1>Abstract</h1>
    <div class="text-justify">
      {{ page.abstract | markdownify}}
    </div>
  {% endif %}







  {% unless striped_content == empty %}
    <h1>Online material</h1>
    {{ content }}
  {% endunless %}





  {% include references.html %}


  


  {% if page.bibtex %}
    <h1>Citation</h1>
    {% highlight bibtex %}{{ page.bibtex }}{% endhighlight %}
  {% endif %}






  {% if page.authors_objects and page.authors_objects.size > 0 %}
    <h1>Related Members</h1>
    {% for a in page.authors_objects %}
      {% include author_pill.html author=a %}
    {% endfor %}
  {% endif %}
  




  {% include disqus.html %}
</div>
